body{
  font-family: "Arial";
}

div{
  display: block;
}

#texto1{
  background-color: yellow;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-top: 5px;
  width: 13%;
  height: 15px;
  margin-bottom: 10px;
  margin-left: 500px;
}


#texto2{
  background-color: pink;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-top: 5px;
  width: 13%;
  height: 15px;
  margin-bottom: 10px;
  margin-left: 500px;
}

#texto3{
  background-color: yellow;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-top: 5px;
  width: 13%;
  height: 15px;
  margin-bottom: 10px;
  margin-left: 500px;
}
