
#caja1{
  background-color: yellow;
  width: 6%;
  height: 70px;
  display: block;
  margin-bottom: 20px;
}

#caja2{
  background-color: yellow;
  width: 20%;
  height: 70px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  margin-bottom: 20px;
}


#caja21{
  background-color: black;
  width: 32%;
  height: 70px;
  margin-bottom: 20px;
  display: inline-block;

}

#caja22{
  background-color: black;
  width: 32%;
  height: 70px;
  margin-bottom: 20px;
  display: inline-block;
}

#caja23{
  background-color: black;
  width: 32%;
  height: 70px;
  margin-bottom: 20px;
  display: inline-block;
}

#caja6{
  background-color: yellow;
  width: 6%;
  height: 70px;
  display: inline-block;
  margin-bottom: 20px;
}

#caja7{
  background-color: yellow;
  width: 6%;
  height: 70px;
  margin-bottom: 20px;
  display: inline-block;
}

#caja8{
  background-color: yellow;
  width: 6%;
  height: 70px;
  display: block;
  margin-bottom: 20px;
}
